#navbarNavDropdown {
    display: flex;
    flex-direction: row-reverse;
}

#navicon {
    padding-bottom: 12px;
}

body {
    line-height: 1.5rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 16px;
    color: #87909e;
    background-color: #fff;
}

element.style {
}
p.small, .small, small {
    font-size: .8125rem;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}
*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}


